<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletWithHibernate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductStoreControler</display-name>
    <servlet-name>ProductStoreControler</servlet-name>
    <servlet-class>com.controller.ProductStoreControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductStoreControler</servlet-name>
    <url-pattern>/ProductStoreControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDeleteController</display-name>
    <servlet-name>ProductDeleteController</servlet-name>
    <servlet-class>com.controller.ProductDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeleteController</servlet-name>
    <url-pattern>/ProductDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductController</display-name>
    <servlet-name>UpdateProductController</servlet-name>
    <servlet-class>com.controller.UpdateProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductController</servlet-name>
    <url-pattern>/UpdateProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductController</display-name>
    <servlet-name>FindProductController</servlet-name>
    <servlet-class>com.controller.FindProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductController</servlet-name>
    <url-pattern>/FindProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetriveProductDetails</display-name>
    <servlet-name>RetriveProductDetails</servlet-name>
    <servlet-class>com.controller.RetriveProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetriveProductDetails</servlet-name>
    <url-pattern>/RetriveProductDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductnameandpriceController</display-name>
    <servlet-name>ProductnameandpriceController</servlet-name>
    <servlet-class>com.controller.ProductnameandpriceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductnameandpriceController</servlet-name>
    <url-pattern>/ProductnameandpriceController</url-pattern>
  </servlet-mapping>
</web-app>