<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Phase2Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Dao</display-name>
    <servlet-name>Dao</servlet-name>
    <servlet-class>com.Dao.Dao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dao</servlet-name>
    <url-pattern>/Dao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>Com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDetails</display-name>
    <servlet-name>LoginDetails</servlet-name>
    <servlet-class>com.controller.LoginDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDetails</servlet-name>
    <url-pattern>/LoginDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutDetails</display-name>
    <servlet-name>LogoutDetails</servlet-name>
    <servlet-class>com.controller.LogoutDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutDetails</servlet-name>
    <url-pattern>/LogoutDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightList</display-name>
    <servlet-name>FlightList</servlet-name>
    <servlet-class>com.controller.FlightList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightList</servlet-name>
    <url-pattern>/FlightList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassword</display-name>
    <servlet-name>ForgetPassword</servlet-name>
    <servlet-class>com.controller.ForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword</servlet-name>
    <url-pattern>/ForgetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertFlight</display-name>
    <servlet-name>InsertFlight</servlet-name>
    <servlet-class>com.controller.InsertFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertFlight</servlet-name>
    <url-pattern>/InsertFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.controller.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
</web-app>